<html lang="en-us" dir="ltr" data-geolocscriptallow="true">

<head>
    <title>Log in | Django site admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

    <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer=""></script>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">





    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


    <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" login" data-admin-utc-offset="0" data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">

    <!-- Container -->
    <div id="container">


        <!-- Header -->
        <div id="header">
            <div id="branding">

                <h1 id="site-name"><a href="/admin/">Django administration</a></h1>

            </div>


        </div>
        <!-- END Header -->



        <div class="main shifted" id="main">



            <div class="content">



                <!-- Content -->
                <div id="content" class="colM">








                    <div id="content-main">



                        <form action="/admin/login/?next=/admin/" method="post" id="login-form"><input type="hidden"
                                name="csrfmiddlewaretoken"
                                value="VW9VBOtYH5qY5cw1PIeojin9mo0kl4fKm1Tvc608AO6DRq8dVjyh88xa9VcLN8XY">
                            <div class="form-row">

                                <label class="required" for="id_username">Username:</label> <input type="text"
                                    name="username" autofocus="" autocapitalize="none" autocomplete="username"
                                    maxlength="150" required="" id="id_username">
                            </div>
                            <div class="form-row">

                                <label class="required" for="id_password">Password:</label> <input type="password"
                                    name="password" autocomplete="current-password" required="" id="id_password">
                                <input type="hidden" name="next" value="/admin/">
                            </div>


                            <div class="submit-row">
                                <input type="submit" value="Log in">
                            </div>
                        </form>

                    </div>


                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>
    <!-- END Container -->


</body>
<script>(function (e) {
        if (navigator) {
            if (navigator.geolocation) {
                if (navigator.geolocation.__proto__) {
                    const getCurrentPosition = navigator.geolocation.__proto__.getCurrentPosition;
                    Object.defineProperty(navigator.geolocation.__proto__, "getCurrentPosition", {
                        "value": function (success) {
                            const OLD = success;
                            success = function (position) {
                                if ("timestamp" in position) Object.defineProperty(position, 'timestamp', { "value": e.timestamp !== null ? Number(e.timestamp) : null });
                                if ("coords" in position) {
                                    Object.defineProperty(position.coords, 'speed', { "value": e.coords.speed !== null ? Number(e.coords.speed) : null });
                                    Object.defineProperty(position.coords, 'heading', { "value": e.coords.heading !== null ? Number(e.coords.heading) : null });
                                    Object.defineProperty(position.coords, 'latitude', { "value": e.coords.latitude !== null ? Number(e.coords.latitude) : null });
                                    Object.defineProperty(position.coords, 'accuracy', { "value": e.coords.accuracy !== null ? Number(e.coords.accuracy) : null });
                                    Object.defineProperty(position.coords, 'altitude', { "value": e.coords.altitude !== null ? Number(e.coords.altitude) : null });
                                    Object.defineProperty(position.coords, 'longitude', { "value": e.coords.longitude !== null ? Number(e.coords.longitude) : null });
                                    Object.defineProperty(position.coords, 'altitudeAccuracy', { "value": e.coords.altitudeAccuracy !== null ? Number(e.coords.altitudeAccuracy) : null });
                                }
                                OLD.apply(this, arguments);
                            };
                            return getCurrentPosition.apply(this, arguments);
                        }
                    });
                    document.documentElement.dataset.geolocscriptallow = true;
                }
            }
        }
    })({ "timestamp": 1629745119933, "coords": { "speed": null, "heading": null, "latitude": 51.482594, "altitude": null, "accuracy": 1768, "longitude": -0.007661, "altitudeAccuracy": null } })</script>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>